<!doctype html>
<html>
    <head>
        <title>Page with all the cases</title>
    </head>
    <body>
        <a href="/t2/queryParaReflectOnResponse?data=98bnsd67234nko">test 2 - simple reflection</a> <br>
        <a href="/t3/reflectB64encoded?data=78bu23e90nasd98">test 3 - reflect the input b64 encoded</a> <br>
        <a href="/t4/reflectHTMLencoded?data=%3Chtml%3E">test 4 - reflect the input HTML encoded</a> <br>
        <a href="/t5/reflectB64decoded?data=cXVlcnlQYXJhUmVmbGVjdE9uUmVzcG9uc2VCNjRlbmNvZGVk">test 5 - reflect the input b64 decoded</a> <br>
        <a href="/t6/PathParaReflectOnResponse/kjbusd87gqw872d">test 6 - reflect path element on response</a><br>
        <a href="/t7/inputlocation">test 7 - stored reflection</a>  <br>
        <a href="/t8/inputlocation">test 8 - input reflection on the response but requires requests before input</a> <br>
        <a href="/t9/activateinputlocation">test 9 - input reflection on the response but requires requests before input</a>  <br>
    </body>
</html>